<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              วิชา:
            </div>
            <div class="col-sm">
            </div>
            <div class="col-6">
            </div>
            <div class="col-sm">
              ครูผู้สอน:
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm">
              หมู่เรียน:
            </div>
            <div class="col-sm">
              เวลาเรียน:
            </div>
            <div class="col-sm">
              ห้องเรียน:
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              สาย: <input type="text">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm">
              เครื่องสแกนที่:
            </div>
            <div class="col-6">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">export</button>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="position: sticky;">รหัสนิสิต</th>
              <th style="position: sticky;">ชื่อ - นามสกุล</th>
              <th>data1</th>
              <th>data2</th>
              <th>data3</th>
              <th>data4</th>
              <th>data5</th>
              <th>data6</th>
              <th>data7</th>
              <th>data8</th>
              <th>data9</th>
              <th>data10</th>
              <th>data11</th>
              <th>data12</th>
              <th>data13</th>
              <th>data14</th>
              <th>data15</th>
              <th>data16</th>
              <th>data17</th>
              <th>data18</th>
              <th>data19</th>
              <th>data20</th>
              <th>มา</th>
              <th>ขาด</th>
              <th>สาย</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td style="position: sticky; width: 100px;">John</td>
              <td style="position: sticky; width: 120px;">Doe</td>
              <td>i</td>
              <td>pie</td>
              <td>beam</td>
              <td>naphun</td>
              <td>เสี่ย</td>
              <td>creampxx</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>i</td>
              <td>4</td>
              <td>0</td>
              <td>4</td>
            </tr> -->
            <!-- <tr>
              <td style="position: sticky; width: 100px;">Mary</td>
              <td style="position: sticky; width: 120px;">Moe</td>
              <td style="width: 120px; background-color:lawngreen">ต้อง</td>
              <td style="width: 120px; background-color:lawngreen">มา</td>
              <td style="width: 120px; background-color:lawngreen">นั่ง</td>
              <td style="width: 120px; background-color:lawngreen">ทำ</td>
              <td style="width: 120px; background-color:lawngreen">งาน</td>
              <td style="width: 120px; background-color:lawngreen">ให้</td>
              <td style="width: 120px; background-color:lawngreen">เพื่อน</td>
              <td style="width: 120px; background-color:lawngreen">แต่</td>
              <td style="width: 120px; background-color:lawngreen">เพื่อน</td>
              <td style="width: 120px; background-color:lawngreen">ไป</td>
              <td style="width: 120px; background-color:lawngreen">เล่น</td>
              <td style="width: 120px; background-color:lawngreen">เกมส์</td>
              <td style="width: 120px; background-color:lawngreen">กับ</td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td style="width: 120px; background-color:lawngreen"><b><i><u>..</u></i></b></td>
              <td>4</td>
              <td>0</td>
              <td>4</td>
            </tr> -->
            <!-- <tr>
              <td style="position: sticky; width: 100px;">July</td>
              <td style="position: sticky; width: 120px;">Dooley</td>
              <td>you</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuch</td>
              <td>nuchmin</td>
              <td>nuchmin</td>
              <td>4</td>
              <td>0</td>
              <td>4</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{ idparam}}