<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col">
              วิชา:
              <div class="input-group mb-3">
              <label>{{dataSection.subject}}</label>  
         </div>
            </div>
            <div class="col-sm">
              ครูผู้สอน:
              <div class="input-group mb-3">
                <label>{{name}}</label>
           </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm">
              หมู่เรียน: <div class="input-group mb-3" >
               <label>{{dataSection.sectionNumber}}</label>
           </div>
            </div>
            <div class="col-sm">
              เวลาเรียน:
              <div class="input-group mb-3" *ngFor="let a of datatableTime;let i = index">
               <label>{{ datatableTime[i].day+"/"+ datatableTime[i].starttime+"/"+ datatableTime[i].endtime}}</label>
           </div>
            </div>
            <div class="col-sm">
              ห้องเรียน:<div class="input-group mb-3">
                <label >{{dataSection.room}}</label>
           </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              สาย: <input type="number"  class="form-control" name="timelate">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm">
              
              <div class="input-group mb-3">
               <label>อุปกรณ์ที่ใช้งาน:{{dataSection.scId}}</label>
           </div>
            </div>
            <div class="col-6">
            </div>
        
            <div class="col-sm">
              <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">export</button>
            </div>
          </div>
        </div>
      </div>

      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th style="position: sticky;">รหัสนิสิต</th>
              <th style="position: sticky;">ชื่อ - นามสกุล</th>
              <th >data1</th>
              <th>data2</th>
              <th>data3</th>
              <th>data4</th>
              <th>data5</th>
              <th>data6</th>
          
              <th>มา</th>
              <th>ขาด</th>
              <th>สาย</th>
            </tr>
          </thead>
          <tbody>
         <tr *ngFor="let a of datatableUser;let i =index" >
           <td>{{datatableUser[i].uId}}</td>
           <td >{{datatableUser[i].name+" "+datatableUser[i].surname}}</td>
           <td>{{timeAttenTest}}</td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        
         </tr>
                  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

