<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              วิชา:
            </div>
            <div class="col-sm">
            </div>
            <div class="col-6">
            </div>
            <div class="col-sm">
              ครูผู้สอน:
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm">
              หมู่เรียน:
            </div>
            <div class="col-sm">
              เวลาเรียน:
            </div>  
            <div class="col-sm">
            </div> 
            <div class="col-sm">
              สาย: <input type="text">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm">
              เครื่องสแกนที่:
            </div>
            <div class="col-6">
            </div>  
            <div class="col-sm">
            </div>
            <div class="col-sm">
             <button  type="button" class="btn btn-outline-secondary btn-rounded waves-effect">export</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>รหัสนิสิต</th>
                <th>ชื่อ-นามสกุล</th>
                <th>...</th>
                <th>มา</th>
                <th>ขาด</th>
                <th>สาย</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
