<div class="row">
  <!-- <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> อุปกรณ์</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                รหัสอุปกรณ์
              </th>
              <th>
                ชื่อผู้ใช้
              </th>
              <th>
                รหัสผู้ใช้
              </th>
              <th>
                สถานะ
              </th>
              <th class="text-right">
                แก้ไขอุปกรณ์
              </th>
              <th class="text-right">
                ลบ
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title">จัดการอุปกรณ์</h4>
       
        <p class="card-category" style="text-align: right;" > <button type="button" (click)="openModal(A)" >Add</button></p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                รหัสอุปกรณ์
              </th>
              <th>
                ชื่อผู้ใช้
              </th>
              <th>
                รหัสผู้ใช้
              </th>
              <th>
                สถานะ
              </th>
              <th class="text-right">
                แก้ไขอุปกรณ์
              </th>
              <th class="text-right">
                ลบ
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let a  of data; let i = index">
               <td>{{data[i].scId}}</td>
               <td>{{data[i].name+" "+data[i].surname}}</td>
               <td>{{data[i].uId}}</td>
               <td style="color:red;">{{dataready}}</td>
               <td class="text-right">..</td>
               <td class="text-right">..</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #A>
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title text-center">เพิ่มอุปกรณ์</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="AddEquipment(equipmentForm)" #equipmentForm="ngForm">
          <label for="scId">รหัสอุปกรณ์</label><input type="text" name="scId" ngModel>
          <label for="uId">รหัสผู้ใช้</label> <input type="text" name="uId" ngModel>
        <button type="submit" class="btn btn-default" (click)="confirm()">เพิ่ม</button>
        </form>
      </div>
      <!-- <div class="modal-footer">                                        
         
      </div> -->
  </div>
</ng-template > 