
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="container">
            <div class="row">
              <div class="col">
                
                <div class="input-group mb-3">
                <label>วิชา:{{sections.subject}}</label>  
           </div>
              </div>
              <div class="col-sm">
                
                <div class="input-group mb-3">
                  <label>ครูผู้สอน:{{sections.teachername}}</label>
             </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm">
               <div class="input-group mb-3" >
                 <label> หมู่เรียน:{{sections.sectionNumber}}</label>
             </div>
              </div>
              <div class="col-sm">
                
                <div class="input-group mb-3" *ngFor="let a of datatableTime;let i = index">
                 <label>เวลาเรียน:{{ datatableTime[i].day+"/"+ datatableTime[i].starttime+"/"+ datatableTime[i].endtime}}</label>
             </div>
              </div>
              <div class="col-sm">
               <div class="input-group mb-3">
                  <label>ห้องเรียน:{{sections.room}}</label>
             </div>
              </div>
              <div class="col-sm">
                <div class="input-group mb-3">
                  <label>เวลาสาย:{{sections.timelate}}</label>
             </div>
              </div>           
            </div>          
          </div>
        </div>
  
        <div class="table-responsive">
          <table class="table" mdbTable mdbTableScroll scrollY="true" maxHeight="200" scrollX="true" maxWidth="400">
            <thead class="text-primary">
              <tr>
                <th style="position: sticky;">รหัสนิสิต</th>
                <th style="position: sticky;">ชื่อ - นามสกุล</th>
                <th *ngFor="let a of class;let i = index">{{class[i].date}}</th>
                <th>มา</th>
                <th>ขาด</th>
                <th>สาย</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th *ngFor="let a of class;let i = index">{{class[i].time}}</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
           <tr>
             <td>{{uId}}</td>
             <td>{{name}}</td>
             <td *ngFor="let a of Atten ;let i = index"
              [ngStyle]="{'background-color': getColor(Atten[i].status)} "  >{{Atten[i].time}}</td>
             <td style="color: green;text-align: center;">  {{green}}</td>
             <td style="color: red;text-align: center;"> {{red}}  </td>
             <td style="color: yellow;text-align: center;">{{yellow}}   </td>
          
           </tr>
                    
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
 
  
  